# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
backend/.python-version

# Angular
node_modules/
dist/
.angular/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Vector DB / Local Files
indices/
uploads/
backend/models/*
!backend/models/onnx/
backend/qdrant_db/
*.index
metadata.json

# Scratch Files
memory.txt
t.txt
frontend/*.txt
